<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<title layout:fragment="title">Tipos de evento</title>
<body>
	<a layout:fragment="titulo-vista" class="navbar-brand" href="javascript:;">Tipos de evento</a>
	<div layout:fragment="content">
		<div class="card">			
			<div class="card-header"></div>
			<div class="card-body">
				<table class="table">
					<thead>
					  <tr>
					    <th scope="col">Tipo de evento</th>
					    <th scope="col">Acciones</th>
					  </tr>
					</thead>
					<tbody>
					  <tr th:each="tipo : ${tipos}" >
					    <td th:text="${tipo.nombre}">nombre tipo de evento</td>
					    <td>
					     <button class="btn btn-info  btn-icon"><i class="nc-icon nc-settings-gear-65"></i></button>
					     <button class="btn btn-danger btn-icon"><i class="nc-icon nc-simple-remove"></i></button>
					    </td>
					  </tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</body>
</html>