<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<title layout:fragment="title">Evento</title>

<body>
	<a layout:fragment="titulo-vista" class="navbar-brand"
		href="javascript:;">Crear Evento</a>
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header"></div>
			<div class="card-body">
				<form th:action="@{/eventos/guardar}" th:object="${eventos}" method="POST">	
					<div class="alert alert-danger alert-dismissable" th:if="${#fields.hasErrors('*')}">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
					</div>				
					<input type="text" placeholder="Nombre" name="nombre" th:field="*{nombre}">				
					<select th:field="*{tipoEvento}">
						<option th:each="tipo : ${tipoEventos}" th:value="${tipo.id}">
							<dl>
							  <dt th:text="${tipo.nombre}">tipo evento</dt>
							</dl>
						</option>
					</select>										
					<button type="submit" value="submit" class="btn btn-primary">Crear</button>
					<a th:href="@{/eventos}" class="btn btn-defautl">Cancelar</a>
				</form>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</body>
</html>