<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<title layout:fragment="title">Evento</title>
<body>

	<a layout:fragment="titulo-vista" class="navbar-brand"
		href="javascript:;">Evento</a>
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header">
				<a th:href="@{/eventos/crear}" class="btn btn-primary">+ Nuevo</a>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Evento</th>
							<th scope="col">Tipo de evento</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="evento : ${eventos}">
							<td th:text="${evento.nombre}">nombre de evento</td>
							<td>
								<dl>
									<dt th:text="${evento.tipoEvento.nombre}">tipo de evento</dt>
									<dd th:text="${evento.tipoEvento.icono}">icono de evento</dd>
								</dl>
							</td>
							
							<td><a th:href="@{/eventos/editar/{id}(id=${evento.id})}"
								class="btn btn-info btn-icon"><i
									class="nc-icon nc-settings-gear-65"></i></a> <a
								th:onclick="eliminar([[${evento.id}]], '/eventos/eliminar/', '/eventos')"
								class="btn btn-danger btn-icon"><i
									class="nc-icon nc-simple-remove"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a>Paginacion falsa 1 2 3 4</a>
			</div>
		</div>
	</div>
</body>
</html>