<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<title layout:fragment="title">Formulario</title>

<body>
	<a layout:fragment="titulo-vista" class="navbar-brand" href="javascript:;"></a>
	<div layout:fragment="content">
		<div class="container-fluid">
			<h4 th:text="${{tarea.nombre}}" class="text-center font-weight-bold">Formulario Nuevo</h4>
			<div align="right">
				<button th:if="${{tarea.descripcion != null}}" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalVariable">+ Agregar campo</button>
			</div>
			<div class="row">
	          <div class="col-lg-12">
	            <div class="card ">
	            
	            <!-- CARD HEADER -->
	              <div class="card-header ">
	              	
	              </div>
	            <!-- FIN CARD HEADER -->
	            
	            <!-- CARD BODY -->
	              <div class="card-body ">
	                <br> <br>
					<!-- SECCION DESCRIPCION DEL FORMULARIO--->
					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-4">											
							Descripcion del formulario:
						</div>					
					</div>
					<form th:action="@{/formulario/descripcion}" th:method="post">
						<div class="row">
							<div class="col-lg-1"></div>
							<div class="col-lg-8">
								<div class="form-group">
									<textarea  name="descripcion" th:text="${{tarea.descripcion}}" class="form-control" rows="6" id="textDescripcion" maxlength="255"  style="border: 1px solid #cecece; max-height:120px"></textarea>
								</div>
							</div>
							<div class="col-lg-2">
								<input type="number" name="idTarea" th:value="${{tarea.id}}" hidden="true">
								<button class="btn btn-primary"> Guardar</button>
							</div>
						</div>
					</form>
					<br>
					<br>
					<!-- -------------SECCION DE LOS 2 SELECTS-------------- --
					<div class="row">
						<div class="col-lg d-flex justify-content-around mb-3">
							<form class="form-inline justify-content-center align-items-center">
								<div class="my-1 mr-2">Tipo de formulario:</div>
								<select class="form-control my-1 mr-2">
									<option selected>Eliga una opcion</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</form>
	
							<form class="form-inline justify-content-center align-items-center">
								<div class="my-1 mr-2">Tarea a visualizar resumen:</div>
								<select class="form-control my-1 mr-2">
									<option selected>Eliga una opcion</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</form>
						</div>	
					</div>
		
					<br>
					
					<!-- -----------------TABLA---------------- -->
					
					<div class="row">
						<div class="col-lg" style="margin-left: 50px; margin-right: 50px; overflow: auto;">
							<table class="table table-responsive-xl table-bordered">
								<thead align="center" valign="middle" style="text-transform: uppercase; font-weight: bold; background-color: #EEFFF8;">
									<tr>
										<td colspan="8">Campos del formulario</td>
									</tr>
									<tr>
										<td style="width: 50%">Nombre de variable</td>
										<td>tipo de variable</td>
										<td>Acciones de variable</td>
									</tr>									
								</thead>								
								<tbody align="center" valign="middle">
									<tr th:each="variable : ${tarea.detalleVariables}">
										<td th:text="${variable.nombreVariable}">text</td>
										<td th:text="${variable.tipoVariable}">text</td>
										<td>																					
											<a class="btn btn-info" th:href ="@{/formulario/editar/{idTarea}(idTarea=${variable.id})}" th:method="GET">Editar</a>
											 
											<a th:onclick="eliminar([[${variable.id}]], '/formulario/eliminar/', '/diagramas')" class="btn btn-danger ">Eliminar</a>
										</td>										
									</tr>									
								</tbody>
							</table>
						</div>
					</div>
					<br>
					<div align="right" style="margin-right: 45px;">
						<button th:if="${{tarea.cambios == true}}" type="button" class="btn btn-secondary">Previsualizacion de<br>formulario</button>
						<button th:if="${{tarea.cambios != true && tarea.descripcion!=null && not #lists.isEmpty(tarea.detalleVariables)}}" type="button" class="btn btn-secondary">Generar formulario</button>
					</div>
		              </div> <!-- FIN CARD BODY -->
		              <div class="card-footer">
		                <hr style="margin-top: 10px;">
						<div class="button-group" align="right" style="margin-right: 45px; margin-top: 25px;">
							<a class="btn btn-danger" th:href="@{/diagramas/4}">Regresar</a>
							<button type="button" class="btn btn-secondary" style="margin-left: 20px;" >Ejecutar Formulario</button>
							<br><br>
						</div>
		              </div>
		            </div>
		          </div>
		        </div> 
			<!-- FIN CARD -->
		</div> 
		
		
		
		<!-- ------------------------MODAL------------------------ -->
		
		<div class="modal" id="modalVariable">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
				
					<!-- HEADER -->
					<div class="modal-header">
						<div class="row">
						<div style="margin-left: 50px; margin-right: 50px">
							<h4 class="modal-tittle">Campo del formulario</h4>
							<p>Your dashboard is the first thing you see when you log in. The JIRA software 
							dashboard is like your car's dashboard. Butinstead of showing your speed and fuel level, it show 
							important information about your work-like your proyects, your activities and your issues.</p>
						</div>
						</div>
					</div>
					<form th:action="@{/formulario/variable}" method="post">
					<!-- BODY -->
					<div class="modal-body" style="margin-left: 20px; margin-right: 20px; overflow: auto;">
						<select class="form-control my-1 mr-2" id="variableSelect"  name="tipoVar" onchange="modalVariableO()">
										<option>Tipo de variable:</option>
										<option>Input Text</option>
										<option>Text Area</option>
										<option>CheckBox</option>
										<option>RadioCheck</option>
										<option>Email</option>
										<option>Numero</option>
										<option>Select</option>
										<!--  <option>Fecha</option>-->
						</select>					
					
						<table class="table table-bordered" style="display: none;" id="tableVariable">
							<thead align="center" valign="middle" style="text-transform: uppercase; font-weight: bold; background-color: #EEFFF8;">
								<tr>
									<td colspan="12">table</td>
								</tr>
								<tr>
									<td rowspan="2" co>Nombre de variable</td>									
									<td colspan="6">restricciones</td>
								</tr>
								<tr> 
									<td class="minval">valor min</td>
									<td class="maxval">valor max</td>
									<td class="maxcar">max caracteres</td>
									<td class="mincar">min caracteres</td>									
									<td class="required">requerido</td>									
								</tr>
							</thead>
							<tbody align="center" valign="middle">
								<tr>
									<td><input type="text" required="Obligatorio" class="form-control" name="nombrevariable"></td>									
									<td class="minval"><input type="number" class="form-control" name="minval"></td>
									<td class="maxval"><input type="number" class="form-control" name="maxval"></td>
									<td class="maxcar"><input type="number" class="form-control" name="maxcar"></td>
									<td class="mincar"><input type="number" class="form-control" name="mincar"></td>									
									<td class="required"> 
										 <input type="checkbox" name="required">
									</td>
									<input type="number" name="idTarea" th:value="${{tarea.id}}" hidden="true">							
								</tr>
							</tbody>
						</table>
						<div style="display: none" id="displayOpciones">
							<label for="opcionesVariable">Opciones: Escriba las opciones separadas por una coma y sin espacio despues de la coma.</label>
							<input type="text" class="form-control" name="opciones" id="opcionesVariable">
						</div>
					</div>					
					<!-- FOOTER -->
					<div class="modal-footer" style="justify-content: center;">
						<button type="submit" id="GuardarVariable" class="btn btn-primary" style="display: none;">Guardar</button>
                       	<button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-left: 10px;">Cancelar</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		
		
		
	</div>

</body>

</html>

