<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<title layout:fragment="title">subir diagrama bpmn</title>
<body>
	<a layout:fragment="titulo-vista" class="navbar-brand"
		href="javascript:;">diagrama bpmn</a>
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header">
				<a th:href="@{/fileupload}" class="btn btn-primary">+ Nuevo</a>		
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
					  <tr>
					    <th scope="col">Nombre</th>					    
					    <th scope="col">Acciones</th>
					  </tr>
					</thead>
					<tbody>
					  <tr th:each="diagrama : ${diagramas}" >
					    <td th:text="${diagrama.nombre}">nombre tipo de evento</td>					    
					    <td>
					     <a class="btn btn-info btn-icon"><i class="nc-icon nc-settings-gear-65"></i></a>
					     <a class="btn btn-danger btn-icon"><i class="nc-icon nc-simple-remove"></i></a>
					    </td>
					  </tr>
					</tbody>
				</table>				
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</body>
</html>
