<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<title layout:fragment="title">Consulta bpmn</title>
<body>
	<a layout:fragment="titulo-vista" class="navbar-brand"
		href="javascript:;">consulta bpmn</a>
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header">
				<div th:if="${diagrama}">
					<table class="table">
						<tr>
							<th>Proceso:</th>
							<td th:text="${{diagrama.nombre}}">Nombre de diagrama</td>
						</tr>
					</table>
					
					<table th:each="elementoLinea : ${elementos}" th:if="${elementoLinea.LineaPadre == null}" class="table">
						
						<tr>
							<th>Carril:</th>
							<td th:text="${elementoLinea.nombre}"></td>
						</tr>
						<tr th:each="elementoTarea : ${elementos}" th:if="${elementoTarea.LineaPadre == elementoLinea.nombre}">
							<th></th>
							<td th:text="${elementoTarea.nombre}"></td>
						</tr>
					</table>				
				</div>						
			</div>
			<div class="card-body">
				
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</body>
</html>